/*
/*/



!/config/
!/defaultconfigs/
!/fancymenu_setups/
!/mods/
!/patchouli_books/
!/scripts/
!/ship/
!/shaderpacks/
!/branding/

!/.gitignore
!/todo.txt
!SERVER_README.txt
/ship/output
*.pyc
*toml.bak

bookmarks.ini